{% extends "base.html" %}
{% block title %}Şifre Belirle{% endblock %}
{% block content %}
<h2>Yeni Şifre Belirle</h2>
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label>Yeni Şifre</label>
    <input type="password" name="new_password" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-success">Şifreyi Kaydet</button>
</form>
{% if error %}<div class="alert alert-danger mt-3">{{ error }}</div>{% endif %}

<script>
    window.addEventListener("DOMContentLoaded", () => {
      const hash = window.location.hash;
      const params = new URLSearchParams(hash.slice(1));
      const token = params.get("access_token");
      if (token) {
        const hiddenInput = document.createElement("input");
        hiddenInput.type = "hidden";
        hiddenInput.name = "access_token";
        hiddenInput.value = token;
        document.querySelector("form").appendChild(hiddenInput);
      }
    });
  </script>
  
{% endblock %}
